.main{
    height: 100vh;
    width: 100vw;
}

.loginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.loginCard{
    border: 1px solid #ccc;
    width: 25%;
    padding: 1rem;  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottomCard{
    width: 25%;
    margin-top: 10px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 1rem;
}

@media only screen and (max-width : 500px) {
   .loginCard{
        width: 80%;
   }

   .bottomCard{
    width: 80%;
   }
}


@media screen and (min-width : 500px) and (max-width : 1024px) {
    .loginCard{
        width: 50%;
   }

   .bottomCard{
    width: 50%;
   }

}