.upload-button{
    display: flex;
    width: 100%;
    height: fit-content;
    align-items: center;
    flex-direction: column;
}

.linear-progress{
    margin-top: 10px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.upload-container{
    margin-top: 20px;
}


@media only screen and (max-width : 500px) {
    
    .upload-button .btn{
        width: 80% !important;
    }
 
  }
  
  
  @media screen and (min-width : 500px) and (max-width : 1024px) {
    .upload-button .btn{
        width: 38% !important;
    }
  }