.upload-button{
    display: flex;
    width: 100%;
    height: fit-content;
    margin-top: 40px;
    align-items: center;
    flex-direction: column;
}

.linear-progress{
    margin-top: 10px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}