.signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.signup-card{
    width: 50%;
    border: 1px solid #ccc;
    height: 80%;

}